.map{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
}
#container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.left-bar{
    height: 100%;
    width: 34.04%;
    left: 0px;
    float: left;
}
.search-bar{
    height: 20%;
    width: 100%;
    padding:14px 24px;
    border-color: #eeeeee;
}
#location {
    position: relative;
    display: block;
    z-index: 1000;
    margin: auto;
    width: 45%;
    height: 40%;
}
#down-button{
    position: relative;
    display: block;
    z-index: 1000;
    margin: auto;
    width: 45%;
    height: 40%;
}
#panel{
    position: relative;
    z-index: 1000;
    margin: auto;
    width: 45%;
    height: 100%;
}
.drop-down{
    position: relative;
    display: block;
    z-index: 1000;
    margin: auto;
    left: 70%;
    width: 100%;
    height: 100%;
    top: -15%;

}
.navi-opt{
    display: none;
    width: 50%;
    height: 45%;
    margin: auto;
    left: 25%;
    position: absolute;
    top: 70%;
}
#navi-button1, #navi-button2, #navi-button3{
    position: absolute;
    right: 10%;
    top: 20%;
}
.block{
    display: block;
}
