.testswitch {
    position: absolute;
    top:53.0%;
    right:5%;
    width: 13%;
    height: 6%;
    margin: 0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}

.testswitch-checkbox {
    display: none;
}

.testswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
    height: 70%;
}

.testswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.testswitch-inner::before, .testswitch-inner::after {
    display: block;
    float: right;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family:
            Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.testswitch-inner::after {
    content: attr(data-on);
    padding-left: 30px;
    background-color: #00e500;
    color: #FFFFFF;
}

.testswitch-inner::before {
    content: attr(data-off);
    padding-right: 20px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.testswitch-switch {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    margin: 4px;
    background: #FFFFFF;
    top: 0;
    bottom: 0;
    right: 45%;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.testswitch-checkbox:checked + .testswitch-label .testswitch-inner {
    margin-left: 0;
}

.testswitch-checkbox:checked + .testswitch-label .testswitch-switch {
    right: 0px;
}

#cashing{
    position: absolute;
    top:58%;
    right:5%;
    border-radius: 8px;
    width: 13%;
    height: 4%;
}
.btn {
    position: absolute;
    top:15%;
    right: 70%;
}
.home{
    position: absolute;
    top:65%;
    right:5%;
    width:50px;
    height: 50px;
    background-color: transparent;
    border: 0.3px #ffffff solid;
    -webkit-border-radius: 100px;
}

